---
const title = "TripleTen Bootcamp | Launch Your High-Tech Career in Israel";
const description =
  "Launch your tech career with TripleTen, Israel's premier online fullstack web development, QA testing, data analyst bootcamp, ensuring industry-relevant skills.";
const robotsMetaTag = "index, follow";
const canonicalUrl = `/`;
const hreflangUrls = {
  "en-us": "/",
};

import Header from "../components/Header.jsx";
import Hero from "../components/Hero/Hero.jsx";
import AlumniSlider from "../components/AlumniSlider/AlumniSlider.jsx";
import HiringStats from "../components/HiringStats/HiringStats.jsx";
import Career from "../components/Career/Career.jsx";
import Rating from "../components/Rating/Rating.jsx";
import Steps from "../components/Steps/Steps.jsx";
import Footer from "../components/Footer/Footer.jsx";
import "../assets/main.css";
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:type" content="website">
    <meta
      property="og:image"
      content={import.meta.env.BASE_URL + "og_image.jpg"}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content={robotsMetaTag} />
    {
      canonicalUrl && (
        <link rel="canonical" href={"https://tripleten.co.il" + canonicalUrl} />
      )
    }
    {
      hreflangUrls &&
        Object.entries(hreflangUrls).map(([lang, url]) => (
          <link
            rel="alternate"
            hreflang={lang}
            href={"https://tripleten.co.il" + url}
          />
        ))
    }
    <meta name="format-detection" content="telephone=no">
    <link
      rel="icon"
      type="image/svg+xml"
      href={import.meta.env.BASE_URL + "favIcon.ico"}
    />
  </head>
  <body>
    <div class="page-body">
      <Header client:only="react" />
      <Hero />
      <AlumniSlider client:load />
      <HiringStats client:load />
      <Career />
      <Rating />
      <Steps />
      <Footer />
    </div>
  </body>
</html>
